/* Color Scheme  CSS HEX 
--tea-green: #e2f1afff;
--flax: #e3d888ff;
--ecru: #b4a56cff;
--gold-fusion: #84714fff;
--dark-liver-horses: #5a3a31ff;
--bistre: #31231eff;
--from-lit-hub: #fff9ed
*/

/* Fonts
Main Emphasis:font-family: 'Roboto', sans-serif;
 
Secondary: font-family: 'Noto Sans JP', sans-serif;
*/
:root {
  --main-bg-color: #fff9ed;
  --save-my-eyes-bg-color: #31231ecc;
  --head-font: "Josefin Sans", sans-serif;
  --body-font: "Roboto", "Calibri", sans-serif;
  --font-color: #ffffff;
  --font-color-dark: #000000;
  --quote-color: #e3d888ff;
  --font-color-tansparent: #31231e20;
}

body {
  font-family: var(--main-font, "Calibri");
  background-color: var(--main-bg-color, white);
  color: var(--font-color, black);
}

.section-container {
  background-color: white;
  /* border-top: 2px solid var(--font-color); */
  margin-bottom: 2vh;
  height: 100vh;

  position: relative;
  /* left: 10%; */
  border-top: solid 2px;
}

.section-container-dark {
  background-color: rgb(5, 19, 54);
  /* border-top: 2px solid var(--font-color); */
  /* margin-bottom: 20px; */
  height: 100vh;
  margin-bottom: 2vh;
  position: relative;
  /* left: 10%; */
  border-top: solid 2px;
}

.section-header {
  height: 20vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
  width: 100vw;
}

.section-name {
  color: var(--font-color-dark);
  font-size: min(10vw, 5rem);
  max-height: 16vh;
  font-weight: lighter;
  margin-top: 2vh;
  margin-left: 3vw;
  border-left: solid 1px;
  border-bottom: solid 1px;
  padding-left: 1vw;
  font-family: var(--head-font);
  width: max-content;
}

.section-name-light {
  color: var(--font-color);
  font-size: min(10vw, 5rem);
  max-height: 16vh;
  font-weight: lighter;
  margin-top: 2vh;
  margin-left: 3vw;
  border-left: solid 1px;
  border-bottom: solid 1px;
  padding-left: 1vw;
  font-family: var(--head-font);
  width: max-content;
}

.section-content {
  height: 78vh;
  color: var(--font-color-dark);
  margin-left: 3vw;
  margin-right: 3vw;
  margin-top: 2vh;
  /* align-content: center; */
  font-family: var(--body-font);
  width: 100vw;
}

.section-content-light {
  height: 80vh;
  color: var(--font-color);
  margin-left: 3vw;
  margin-right: 3vw;
  margin-top: 2vh;
  /* align-content: center; */
  font-family: var(--body-font);
  width: 100vw;
}

/******* Landing Page ********/

.spacer {
  height: 0px;
}

#landing-container {
  /* height: 100vh; */
  /* background: url("./assets/john-thomas-sEpzK_EeIcs-unsplash.jpg"); */
  background: url("./assets/hero_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* filter: grayscale(1); */
  /* filter: hue-rotate(135deg); */
}

/* #splash-color {
  background-color: rgba(0, 0, 255, 0.5);
  background-size: cover;
} */

@keyframes fadeInOutAnimation {
  0% {
    color: rgba(255, 255, 255, 0);
  }
  40% {
    color: rgba(255, 255, 255);
  }

  60% {
    color: rgba(255, 255, 255);
  }

  100% {
    color: rgba(255, 255, 255, 0);
  }
}

@keyframes fadeInAnimation {
  0% {
    color: rgba(255, 255, 255, 0);
  }
  100% {
    color: rgba(255, 255, 255);
  }
}

.name-plate {
  width: 80vw;
  margin: 10vh 10vw 10vh 10vw;
  /* color: rgba(255, 255, 255); */

  height: 40vh;
}

#name-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  animation: fadeInAnimation;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  background-color: rgba(0, 0, 0, 0.5);
}

#name {
  font-size: 10vw;
  margin-bottom: 0;
  font-family: var(--head-font);
  font-weight: lighter;
}

#job-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
}

#icon-links {
  /* margin-left: 10%; */
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  font-family: var(--body-font);
}

#job {
  font-size: 3vw;

  /* padding-bottom: 5%; */
}

#quote-div {
  height: 70%;
  padding-top: 12%;

  animation: fadeInOutAnimation;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.quote {
  font-family: "Piazzolla", serif;
  font-size: 8vw;
  padding-right: 10%;
  padding-left: 10%;
}

#attribution {
  font-size: 2vw;
  text-align: right;
  padding-right: 10%;
}

/****** Navigation Bar ******/

/* .navbar {
  color: var(--font-color);
  font-size: 80%;
} */

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: white;
  height: 30vh;
  margin-top: 5vh;
}

.navbar-link {
  color: inherit;
  margin-left: 5px;
  margin-right: 5px;
  /* font-size: x-large; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar-link:hover {
  /* border-bottom: 1px solid var(--font-color); */
  color: rgb(178, 217, 226);
  text-decoration: none;
}

.nav-icon {
  font-size: 6vw;
}

.nav-label {
  font-size: 2vw;
  font-family: var(--body-font);
}

.fa {
  /* color: var(--font-color); */
  color: white;
}

.fa {
  margin-left: 10px;
  margin-right: 10px;
}

.foots {
  text-align: center;
}

.footprints-large {
  position: fixed;
  right: 1vw;
  top: 1vh;
  width: 30px;
  height: 30px;
  max-width: 100%;
  /* background-color: lightgray; */
  /* border-radius: 15px; */
  /* padding: 5px; */
  z-index: 1;
}

/******** About Me ********/

#profile-pic {
  width: 100%;
  /* position: relative; */
  border-radius: 50%;
  /* filter: grayscale(1); */
}

#bio {
  font-size: min(1.5vw, 3rem);
  /* font-size: 2vw; */
  height: 80%;
  margin-right: 2vw;
  margin-top: 3vh;
}

#bio-blips {
  font-size: min(1.5vw, 3rem);
  font-weight: bolder;
  height: 20%;
  margin-top: 5%;
}

.sm-link {
  /* color: var(--font-color); */
}

.knowledge-icons {
  /* position: relative;
  left: 10%;
  height: 70px; */
  font-size: 40px;
  display: flex;
  justify-content: center;
}

.fab {
  padding: 20px;
  height: fit-content;
}

/******** Projects ********/

.proj-card-container {
  margin-top: 5vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.port-img {
  width: 10vw;
  margin: 2%;
}

.card-body {
  padding: 5px;
}

.card-text {
  font-size: 1vw;
  color: var(--font-color-dark);
}

/* .img-thumbnail {
  width: 280px;
} */

/******** Contact ********/

label {
  font-size: 1rem;
  width: 80%;
}

input {
  font-size: 0.8rem;
  width: 100%;
}

.message-container {
  display: flex;
  flex-direction: column;
}

#message-label {
  width: 100%;
}

#message-text {
  font-size: 0.8rem;
  height: 110px;
  width: 100%;
  margin-left: 0;
}
#contact-button {
  font-size: 0.8rem;
  color: white;
  background-color: var(--font-color);
  max-width: 60px;
}

/******** Footer ********/
#footer {
  background-color: var(--font-color-tansparent);
  /* border-top: 2px solid var(--font-color); */
  z-index: 0;
  width: 80%;
  position: relative;
  left: 10%;
  font-size: 0.8rem;
}

.footer-content {
  margin: 10px 0px 10px 0px;
}

.copyright {
  text-align: center;
}

#icon-attribution {
  text-align: right;
  vertical-align: middle;
}
