/* Color Scheme  CSS HEX 
--tea-green: #e2f1afff;
--flax: #e3d888ff;
--ecru: #b4a56cff;
--gold-fusion: #84714fff;
--dark-liver-horses: #5a3a31ff;
--bistre: #31231eff;
--from-lit-hub: #fff9ed
*/

/* Fonts
Main Emphasis:font-family: 'Roboto', sans-serif;
 
Secondary: font-family: 'Noto Sans JP', sans-serif;
*/
:root {
  --main-bg-color: #fff9ed;
  --save-my-eyes-bg-color: #31231ecc;
  --main-font: "Roboto", "Calibri", sans-serif;
  --font-color: #31231ecc;
  --quote-color: #e3d888ff;
  --font-color-tansparent: #31231e20;
}

body {
  font-family: var(--main-font, "Calibri");
  background-color: var(--main-bg-color, white);
  color: var(--font-color, black);
}

.section-name {
  color: var(--font-color);
  font-size: 1rem;
  margin-top: 20px;
  margin-left: 20px;
}

.section-content {
  color: var(--font-color);
  font-size: 1.3rem;
  margin: 20px;
}

.section-container {
  background-color: white;
  border-top: 2px solid var(--font-color);
  margin-bottom: 20px;
  z-index: 0;
  width: 80%;
  position: relative;
  left: 10%;
}

/* Navigation Bar */
#home {
  background-color: white;
  border-top: 2px solid var(--font-color);
  margin-bottom: 0px;
  position: fixed;
  left: 10%;
  z-index: 1;
  width: 80%;
}
.navbar {
  color: var(--font-color);
  font-size: 80%;
}

.fa {
  color: var(--font-color);
}

.fa {
  margin-left: 10px;
  margin-right: 10px;
}

.foots {
  text-align: center;
}

.footprints-large {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30px;
  height: 30px;
  max-width: 100%;
  background-color: lightgray;
  border-radius: 15px;
}

.nav-links {
  text-align: right;
}

.navbar-link {
  color: inherit;
  margin-left: 5px;
  margin-right: 5px;
}

.navbar-link:hover {
  border-bottom: 1px solid var(--font-color);
  color: var(--font-color);
}

/* Landing Page */

@keyframes fadeInAnimation {
  0% {
    color: var(--main-bg-color);
  }
  100% {
    color: var(--font-color);
  }
}
.spacer {
  height: 50px;
}
#landing {
  /* background-color: white;
  border-top: 2px solid var(--font-color); */
  margin-bottom: 20px;
  /* z-index: 0;
  width: 80%;
  position: relative;
  left: 10%; */
}

#landing-container {
  height: 90vh;
}

.name-plate {
  animation: fadeInAnimation;
  animation-delay: 5s;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  text-align: right;
}

#name {
  font-size: 5rem;
}

#job {
  font-size: 1.5rem;
}

#tolk-quote {
  /* color: var(--font-color-tansparent, white); */
  text-align: right;
  font-size: 2rem;
  margin: 0;
  transition: font-size 1s;
}

/* #tolk-quote:hover {
  font-size: 3rem;
} */

#tolk-sig {
  /* color: var(--font-color-tansparent, white); */
  text-align: right;
  font-size: 0.5rem;
}

/* About Me */

#profile-pic {
  width: 60%;
  position: relative;
  left: 20%;
  top: 0%;
  border-radius: 50%;
  filter: grayscale(1);
}

#bio {
  font-size: 1rem;
}

/* Projects */

.proj-card-container {
  margin: 5%;
}
.port-img {
  width: 12rem;
  margin: 2%;
}

.card-body {
  padding: 5px;
}

.card-text {
  font-size: 0.8rem;
}

/* Contact */

label {
  font-size: 1rem;
  width: 80%;
}

input {
  font-size: 0.8rem;
  width: 100%;
}

.message-container {
  display: flex;
  flex-direction: column;
}

#message-label {
  width: 100%;
}

#message-text {
  font-size: 0.8rem;
  height: 110px;
  width: 100%;
  margin-left: 0;
}
#contact-button {
  font-size: 0.8rem;
  color: white;
  background-color: var(--font-color);
  max-width: 60px;
}

/* Footer */
#footer {
  text-align: center;
  position: flex;
  flex-direction: row;
  align-content: space-around;
  background-color: var(--font-color-tansparent);
  /* border-top: 2px solid var(--font-color); */
  z-index: 0;
  width: 80%;
  position: relative;
  left: 10%;
  font-size: 0.8rem;
}

#copyright {
  margin: 10px 0px 10px 0px;
}

#icon-attribution {
  margin: 10px 10px 10px 0px;
}
